
.DS_Store

*.log

*.aux

*.bbl

*.blg

*.brf

*.exa

*.idx

*.ilg

*.ind

*.lof

*.lol

*.lot

*.out

*.toc
*.gz

username.pdf
username.synctex.gz
*.texpadtmp
.texpadtmp
/Users/margaretjagger/GitHubProjects/senioris/.texpadtmp/username.synctex.gz
